@font-face {
	font-family: 'CATHSGBR';
	src: local('CATHSGBR'), url('./CATHSGBR.woff') format('woff');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_412">Text with this font applied</p> */
.fontsforweb_fontid_412 {
	font-family: 'CATHSGBR' !important;
}

/* Font downloaded from FontsForWeb.com */